@model SistemaDeAdministracionDePrestamos.Models.Cliente

@{
    ViewBag.Title = "Eliminar";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Clientes</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Clientes", "Index")
            </li>
            <li class="active">
                @Html.ActionLink("Eliminar Cliente", "delete")
            </li>
        </ol>
    </div>
</div>

<h2>Eliminar</h2>

<h3>¿Está seguro que desea eliminar a <font color="red"><b>@Model.Nombre</b></font> de su lista de clientes?</h3>
<div>
    <hr />
    <h4><b>Detalles del cliente</b></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" }) |
            <input type="submit" value="Eliminar" class="btn btn-danger" />  
        </div>
    }
</div>
