@model SistemaDeAdministracionDePrestamos.Models.Cliente

@{
    ViewBag.Title = "Detalles";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Clientes</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Clientes", "Index")
            </li>
            <li class="active">
                @Html.ActionLink("Detalles del Cliente", "details")
            </li>
        </ol>
    </div>
</div>

<h2>Detalles del cliente</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Modificar", "Edit", new { id = Model.Id }, new { @class = "btn btn-info"})

</p>
