@model SistemaDeAdministracionDePrestamos.Models.ViewModels.PrestamoViewModel

@{
    ViewBag.Title = "Eliminar prestamo";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Prestamos</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Prestamos", "Index")
            </li>
            <li class="active">
                @Html.ActionLink("Eliminar prestamo", "Eliminar")
            </li>
        </ol>
    </div>
</div>

<h2>Eliminar Prestamo</h2>

<h3>¿Está seguro que desea eliminar a <font color="red"><b>@Model.Cliente</b></font> de su lista de Prestamos?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default"}) |
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        </div>
    }
</div>
