@model SistemaDeAdministracionDePrestamos.Models.ViewModels.PrestamoViewModel

@{
    ViewBag.Title = "Detalles del prestamo";
}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Prestamos</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Prestamos", "Index")
            </li>
            <li class="active">
                @Html.ActionLink("Detalles de Prestamo", "Details")
            </li>
        </ol>
    </div>
</div>

<h2>Detalles del prestamo</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" }) |
    @Html.ActionLink("Modificar", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" })
</p>
